<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-list-header style="color: black !important">
      Datos del cliente
    </ion-list-header>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.name.errors?.required"
    >
      Name is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.name.errors?.minlength"
    >
      Min 3 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.email.errors?.required"
    >
      Email is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.email.errors?.pattern"
    >
      Enter valid email.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input
        maxlength="10"
        formControlName="phone"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.phone.errors?.required"
    >
      Phone number is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="submitted && errorCtr.phone.errors?.pattern"
    >
      Number values allowed.
    </span>
    <ion-list-header
      style="
        margin-top: 20px !important;
        color: black !important;
        border-top: 2px solid !important;
      "
    >
      Datos de la sesión
    </ion-list-header>
    <ion-item lines="full">
      <ion-label position="floating">Tipo de Sesion</ion-label>
      <ion-input formControlName="sesion" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Fecha Sesion</ion-label>
      <ion-datetime
        (ionChange)="fetchDate($event)"
        formControlName="dob"
        [value]="defaultDate"
      ></ion-datetime>
    </ion-item>
    <ion-list-header
      style="
        margin-top: 20px !important;
        color: black !important;
        border-top: 2px solid !important;
      "
    >
      Datos de facturación
    </ion-list-header>
    <ion-item lines="full">
      <ion-label position="floating">Tarifa (€)</ion-label>
      <ion-input formControlName="tarifa" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Dinero de Reserva (€)</ion-label>
      <ion-input formControlName="reserva" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="onSubmit()">Enviar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
